* {
	margin: 0;
	padding: 0;
	font-family: arial;
}
.center {
	width: 240px;
	margin: auto;
	padding: 20px;
}
#editor {
	margin-top: 20px;
	border: 1px solid black;
}
.tool-control {
	display: flex;
	margin-top: 10px;
}
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.flex-4 {
	flex: 4;
}
#frameList > li {
	display: inline-block;
}
.pri-btn {
	padding: 10px;
	border-radius: 5px;
	margin-right: 20px;
}
#outputs {
	margin-top: 40px;
	border-top: 1px dashed grey;
}

.a-upload {
	padding: 4px 10px;
	height: 20px;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.a-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}

#outputs img{
	width:300px;
}